<%- include('templates/head.ejs', {TituloPrincipal:'Pagina de Inicio'}) %>
  <body>
    <header>
      <nav>
          <div class="topnav">
              <a class="active" href="/">Inicio</a>
              <a href="/equipos">Equipos</a>
              <a href="/">About Us</a>
              <% if (rol == "solicitante") {%>
                <a href="/solicitantes/MiCuenta">Mi Cuenta</a>
              <% } else if (rol == "personal") {%>
                <a href="/personal/MiCuenta">Mi Cuenta</a>
              <% } else if (rol == "admin") {%>
                <a href="/">Mi Cuenta</a>
              <% } %>
  
              <div class="dropdown">
                  <button class="dropbtn">Para Más...
                    <i class="fa fa-caret-down"></i>
                  </button>
  
                  <div class="dropdown-content">
                    
                    <div class="roww">
                      <div class="columnn">
                          <a href="/equipos" >EQUIPOS</a>
                          <a href="/espacios">ESPACIOS</a>
                          <a href="#">EVENTOS</a>
                      </div>
                      <div class="columnn">
                          <a href="#">RESERVAS</a>
                          <a href="/trabajos">TRABAJOS RESERVADOS</a>
                          <a href="#">TRABAJOS TECNICOS</a>
                      </div>
                      <div class="columnn">
                          <a href="#">TICKETS</a>
                          <a href="/solicitantes">SOLICITANTES</a>
                          <a href="/personal">PERSONAL</a>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </nav>
    </header>

    <div class="tituloPrincipal">
      <h1 class="centrado"> <%= title %> </h1>
    </div>

    <div class="tituloSub">
      <p>Bienvenido a la Sala de Audiovisuales</p>
      <p>Podrás hacer tus reservas y disfrutar de los servicios Audiovisuales</p>
    </div>
    <br>
    <br>

    <% if (!cookie) {%>
      <div class="centeer">
        <div class="modo">
          <h2 class="tituloPrincipal">Iniciar Sesión en </h2>
        </div>
        
        <div class="modo">
          <a href="/login"> <button class="buttonAgregar">¡LOG IN!</button> </a>
        </div>
      </div>
    <% } else {%>
      <div class="centeer">
        <div class="modo">
          <h2 class="tituloPrincipal">Cerrar Sesión en </h2>
        </div>
        
        <div class="modo">
          <a href="/logout"> <button class="buttonAgregar">¡LOG OUT!</button> </a>
        </div>
      </div>
    <% } %>
  </body>
</html>
