<%- include('templates/head.ejs', {TituloPrincipal:'Reservas de Espacios'}) %>
<body>
    <%- include('templates/nav') %>
    <div class="tituloPrincipal">
        <h1 class="centrado"> <%= title %> </h1>
    </div>
    <br>
    <br>
    <br>
    <div class="row cuenta">
        <%- include('templates/listar/r_espaciosGet') %>
    </div>
</body>
</html>