<%- include('templates/head.ejs', {TituloPrincipal:'Solicitantes'}) %>
<body>
    <%- include('templates/nav') %>
    <div class="tituloPrincipal">
        <h1 class="centrado"> <%= title %> </h1>
    </div>
    <div class="centrado">
        <a href="/solicitantes/agregar"> <button class="buttonAgregar"><h3>¡Añadir!</h3></button> </a>
    </div>
    <br>
    <br>
    <br>
    <div class="row cuenta">
        <%- include('templates/listar/solicitanteGet') %>
    </div>
</body>
</html>