<header>
    <nav>
        <div class="topnav">
            <a class="active" href="/">Inicio</a>
            <a href="/equipos">Equipos</a>
            <a href="/espacios">Espacios</a>

            <div class="dropdown">
                <button class="dropbtn">Para Más...
                  <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-content">
                  
                  <div class="roww">
                    <div class="columnn">
                      <a href="/reserva_equipos">RESERVAS EQUIPOS</a>
                        <a href="/reserva_espacios">RESERVAS ESPACIOS</a>
                        <a href="/eventos">EVENTOS</a>
                    </div>
                    <div class="columnn">
                        <a href="/trabajos">TRABAJOS RESERVADOS</a>
                        <a href="/mantenimientoEquipo">MANTENIMIENTO EQUIPOS</a>
                        <a href="/mantenimientoEspacio">MANTENIMIENTO ESPACIOS</a>
                    </div>
                    <div class="columnn">
                        <a href="/tickets">TICKETS</a>
                        <a href="/solicitantes">SOLICITANTES</a>
                        <a href="/personal">PERSONAL</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </nav>
</header>