body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tituloPrincipal {
  font-size: 20px;
  color: #25190e;
}

.tituloSub {
  font-size: 15px;
  color: #363433;
  text-align: center;
}
.tituloLogin {
  font-size: 16px;
  color: #25190e;
  margin-left: 20px;
}
.modo {
  display: inline-block;

}
.centeer {
  text-align: center;
}
.cuenta {
  display:flex;
  justify-content: center;
  align-items: center;
}


/*BOTON*/
.buttonAgregar {
  background-color: #f89500bd;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 8px;
}
.buttonAgregar:hover {
  color: rgb(0, 0, 0);
}
.buttonLogin {
  background-color: #f89500bd;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 8px;
}
.buttonLogin:hover {
  color: rgb(0, 0, 0);
}


/*LOGIN*/
/* Style inputs with type="text", select elements and textareas */
.text1 {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
.buttonLogin2{
  background-color: #aa4f04;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
.buttonLogin2:hover {
  background-color: #ce5f05;
}
/* Add a background color and some padding around the form */
.containerLogin {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*BARRA DE NAV*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f8c18d;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f77c35;
  color: white;
}
  /*MAS..*/
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn:hover {
  background-color: #f8c18d;
  color: #000;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8c18d;
  width: 100%;
  height: 34%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Mega Menu header, if needed */
.dropdown-content {

  padding: 16px;
  color: white;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Create three equal columns that floats next to each other */
.columnn {
  float: left;
  width: 30%;
  padding: 10px;
  margin: 10px;
  background-color: #333;
  height: 170px;
  text-align: center;
}
/* Style links inside the columns */
.columnn a {
  float: none;
  color: white;
  padding: 16px;
  margin: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* Add a background color on hover */
.columnn a:hover {
  background-color: #a0a0a0;
}
/* Clear floats after the columns */
.roww:after {
  content: "";
  display: table;
  clear: both;
}



/*LISTADO*/
/* Three columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.centrado {
  display: flex;
  justify-content: center;
}
.textcentrado {
  text-align: center;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}


/*LISTADO PERSONAL*/
/* Style the container with a rounded border, grey background and some padding and margin */
.containerP {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 10px;
  width: 45%;
  display: inline-block;
}
/* Clear floats after containers */
.containerP::after {
  content: "";
  clear: both;
  display: inline-block;
}
/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.containerP img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
/* Increase the font-size of a span element */
.containerP span {
  font-size: 20px;
  margin-right: 15px;
}
/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .containerP {
    text-align: center;
  }
  .containerP img {
    margin: auto;
    float: none;
    display: block;
  }
}

/*LISTADO TRABAJOS*/
/*LISTADO PERSONAL*/
/* Style the container with a rounded border, grey background and some padding and margin */
.containerT {
  border: 2px solid #fdc59f;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 16px;
  margin: 20px 100px;
  width: 30%;
  display: inline-block;
}
/* Clear floats after containers */
.containerT::after {
  content: "";
  clear: both;
  display: inline-block;
}
/* Increase the font-size of a span element */
.containerT span {
  font-size: 20px;
  margin-right: 15px;
}
.ver {
  border: none;
  border-radius: 6px;
  background-color: #f8c18d;
  text-align: right;
}